alabaster==0.7.12
artificery==0.0.3.3
attrs==20.3.0
Babel==2.9.0
beautifulsoup4==4.9.3
bleach==3.3.0
boto3==1.17.20
botocore==1.20.20
Brotli==1.0.9
brotlipy==0.7.0
cached-property==1.5.2
cachetools==4.2.1
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
click-option-group==0.5.2
cloud-files==1.25.1
cloud-volume==3.8.0
colorama==0.4.4
compressed-segmentation==2.0.1
connected-components-3d==3.1.2
crc32c==2.2
cryptography==3.4.6
cycler==0.10.0
decorator==4.4.2
deflate==0.3.0
dijkstra3d==1.8.0
dill==0.3.3
docutils==0.15
DracoPy==0.0.15
edt==2.0.2
fastremap==1.11.1
fill-voids==2.0.1
fpzip==1.1.4
future==0.18.2
gevent==21.1.2
google==3.0.0
google-api-core==1.26.3
google-auth==1.28.1
google-cloud-core==1.6.0
google-cloud-storage==1.37.1
google-crc32c==1.1.2
google-resumable-media==1.2.0
googleapis-common-protos==1.53.0
greenlet==1.0.0
h5py==3.2.0
idna==2.10
imageio==2.9.0
imagesize==1.2.0
importlib-metadata==3.7.0
inflection==0.5.1
iniconfig==1.1.1
jeepney==0.6.0
Jinja2==2.11.3
jmespath==0.10.0
json5==0.9.5
jsonschema==3.2.0
keyring==22.3.0
kimimaro==2.0.3
kiwisolver==1.3.1
Markdown==3.3.4
MarkupSafe==1.1.1
matplotlib==3.4.0rc1
mazepa==0.1.0
metroem==0.0.6
modelhouse==0.0.6
multiprocess==0.70.11.1
networkx==2.5
numpy==1.20.1
opencv-python==4.5.1.48
orjson==3.5.0
packaging==20.9
pathlib==1.0.1
pathos==0.2.7
pbr==5.5.1
Pillow==8.1.1
pkginfo==1.7.0
pluggy==0.13.1
posix-ipc==1.0.5
pox==0.2.9
ppft==1.6.6.3
procspec==0.0.4
protobuf==4.0.0rc2
psutil==5.4.3
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
Pygments==2.8.0
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyrsistent==0.17.3
pysimdjson==3.2.0
pytest==6.2.2
python-dateutil==2.8.1
python-jsonschema-objects==0.3.13
pytz==2021.1
PyWavelets==1.1.1
PyYAML==5.4.1
readme-renderer==29.0
requests==2.25.1
requests-toolbelt==0.9.1
rfc3986==1.4.0
rsa==4.6
s3transfer==0.3.4
scalenet==0.0.8
scikit-image==0.18.1
scipy==1.6.1
SecretStorage==3.3.1
simplejpeg==1.4.1
six==1.15.0
snowballstemmer==2.1.0
soupsieve==2.2.1
Sphinx==3.5.1
sphinx-click==2.6.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
tenacity==7.0.0
tifffile==2021.2.26
toml==0.10.2
torch==1.6.0
torchfields==0.0.5
torchvision==0.7.0
tqdm==4.58.0
twine==3.3.0
typing-extensions==3.7.4.3
urllib3==1.26.3
webencodings==0.5.1
zipp==3.4.0
zope.event==4.5.0
zope.interface==5.2.0
zstandard==0.15.2
